Javier Nieto Merodio

ITAM Fuentes de Datos Primavera 2023

# **Tarea de Pandas #1**

## **Parte 1: función apply**

La función apply es una de las más importantes para el manejo de la librería de pandas. En lo personal, uso esta función casi diario trabajando. Lo que nos permite es hacer operaciones con los datos de un pandas dataframe de manera eficiente. Si la

Una de las ventajas de apply es que podemos elegir a qué nivel del dataframe queremos hacer nuestras operaciones: columnas o renglones. Incluso, si queremos, podemos aplicar una operación apply a todos los datos del dataframe. 

El argumento <code>axis</code> funciona de la siguiente forma:
 - Para hacer operaciones a entre renglones: <code>axis = 0</code>.
 - Para hacer operaciones a entre columnas: <code>axis = 1</code>.

También, podemos elegir si hacer las operaciones entre datos de un grupo seleccionado, con <code>lambda x: funcion(x)</code>, o entre rows, usando <code>lambda row: row[a]/row[b]</code>

Un ejemplo sería el siguiente. Supongamos que tenemos un dataframe <code>df</code> con dos columnas <code>base</code> y <code>altura</code>, siendo bases y alturas de cuadrados. Si quisieramos crear una nueva columna <code>area</code> usando apply, haríamos lo siguiente:

 - <code>df['area'] = df.apply(lambda row: row['base']*row['altura'], axis = 1)</code>

## **Parte 2: función concat**

La función <code>concat</code> nos ayuda a *juntar* dos dataframes distintos de la forma que queramos: agregándolo como nuevos valores/nuevos renglones, o como nuevas columnas. Es importante ver la forma que tienen ambos dataframes para entender el resultado. Por ejemplo, al intentar juntar dos dataframes de nxm y axb, y juntarlos, pueden resultar en conflictos, o creación de nuevas columnas y/o renglones no esperados.

En este caso, <code>axis = 1</code> nos permite concatenar como nuevas columnas dataframes distintos. Veamos el siguiente ejemplo.

 - Sea <code>df1</code>:

|   | nombre | apellido |
|---|--------|----------|
| 0 | Javi   | Nieto    |
| 1 | Raton  | Perez    |

 - Sea <code>df2</code>:

|   | edad  | profesion  |
|---|-------|------------|
| 0 | 22    | estudiante |
| 1 | 120 | dentista   |

 - <code>df_nuevo = pd.concat([df1, df2], axis = 1)</code> nos regresa:

|   | nombre | apellido | edad  | profesion  |
|---|--------|----------|-------|------------|
| 0 | Javier | Nieto    | 22    | estudiante |
| 1 | Raton  | Perez    | 120 | dentista   |


Ahora, veamos el siguiente caso donde tenemos dos dataframes <code>df3</code> y <code>df4</code> que queremos unir como nuevas columnas, pero no coinciden en el índice. Para eso, usamos <code>ignore_index = True</code>. Veamos:

 - Sea <code>df3</code>:

|   | nombre | apellido |
|---|--------|----------|
| 0 | Don    | Cangrejo |
| 1 | Bob    | Espona   |

 - Sea <code>df4</code>:

|   | edad | profesion |
|---|------|-----------|
| 2 | 44   | Manager   |
| 5 | 28   | Chef      |

 - Usando <code>df_nuevo_2 = pd.concat([df3, df4], axis = 1, ignore_index = True)</code> nos regresa:

 |   | nombre | apellido | edad | profesion |
|---|--------|----------|------|-----------|
| 0 | Don    | Cangrejo | 44   | Manager   |
| 1 | Bob    | Espona   | 28   | Chef      |