# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.
** Nota Mariana: Default hace referencia a cualquier incumplimiento de contrato por parte del deudor. **

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [26]:
import pandas as pd
import numpy as np

# Para poder ver completas las descripciones de algunos dataframes y series
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 152)

In [4]:
loans = pd.read_csv('LoansData_sample.csv', low_memory=False)
loans

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Ver cuantos missing values hay en cada columna
suma = loans.isna().sum()
suma
# Y comparar con el total de datos que tenemos
# loans.shape

Unnamed: 0                    0
id                            0
member_id                100000
loan_amnt                     0
funded_amnt                   0
                          ...
settlement_status         98710
settlement_date           98710
settlement_amount         98710
settlement_percentage     98710
settlement_term           98710
Length: 151, dtype: int64

In [6]:
# Revisando tipos de datos en algunas columnas
col = loans['settlement_term']
col1 = col.dropna()
col1

31        8.0
95       24.0
159      24.0
199      24.0
228       6.0
         ...
99270     1.0
99295     0.0
99313    18.0
99529     1.0
99915    12.0
Name: settlement_term, Length: 1290, dtype: float64

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [7]:
# Es una serie: key - nombre de la columna, value - tipo de dato
column_types = loans.dtypes
column_types

# Parece ser que no hay columnas duplicadas, ni columnas vacias.
# columns = loans.columns
# columns

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [8]:
datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

**Nota Mariana**: me arrojaba un error de lectura porque no tenia instalada openpyxl. 
Tuve que meterme a terminal y correr el comando 'pip install openpyxl'

In [9]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [10]:
# Dataframe que no contiene las columnas vacias
df_info = datos_dict.dropna(subset='feature')
df_info

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
146      settlement_status  The status of the borrower’s settlement plan. ...
147        settlement_date  The date that the borrower agrees to the settl...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...

[151 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [11]:
# Codigo para guardar el df en formato pickle
df_info.to_pickle("df_info.pkl")

In [12]:
# Codigo para cargar del pickle al df
df_lec = pd.read_pickle("df_info.pkl")
df_lec

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
146      settlement_status  The status of the borrower’s settlement plan. ...
147        settlement_date  The date that the borrower agrees to the settl...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...

[151 rows x 2 columns]

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [13]:
print("Original_dtypes:")
print(loans.dtypes)

Original_dtypes:
Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

In [14]:
new_loans = loans.convert_dtypes()
print("Nuevos tipos:")
print(new_loans.dtypes)

Nuevos tipos:
Unnamed: 0                 Int64
id                         Int64
member_id                  Int64
loan_amnt                  Int64
funded_amnt                Int64
                          ...
settlement_status         string
settlement_date           string
settlement_amount        Float64
settlement_percentage    Float64
settlement_term            Int64
Length: 151, dtype: object

In [15]:
# Viendo si el metodo convert_dtypes() sirve para mantener los valores en NA

# prueba = new_loans['member_id']
# x = prueba.dropna()
# x

## Borrando columnas inservibles

Explicar porque decidi borrar las columnas antes de imputar los nans

In [27]:
suma2 = new_loans.isna().sum()
suma2

Unnamed: 0                                         0
id                                                 0
member_id                                     100000
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                       5264
emp_length                                      5259
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
desc                                           99993
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                                0
delinq_2yrs                                        0
earliest_cr_line                                   0
fico_range_low                                     0
fico_range_high                                    0
inq_last_6mths                                     0
mths_since_last_delinq                         48703
mths_since_last_record                         83268
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                        56
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                      67
last_pymnt_amnt                                    0
next_pymnt_d                                   86138
last_credit_pull_d                                17
last_fico_range_high                               0
last_fico_range_low                                0
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    72059
policy_code                                        0
application_type                                   0
annual_inc_joint                              100000
dti_joint                                     100000
verification_status_joint                     100000
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                   100000
open_act_il                                   100000
open_il_12m                                   100000
open_il_24m                                   100000
mths_since_rcnt_il                            100000
total_bal_il                                  100000
il_util                                       100000
open_rv_12m                                   100000
open_rv_24m                                   100000
max_bal_bc                                    100000
all_util                                      100000
total_rev_hi_lim                                   0
inq_fi                                        100000
total_cu_tl                                   100000
inq_last_12m                                  100000
acc_open_past_24mths                               0
avg_cur_bal                                        0
bc_open_to_buy                                  1135
bc_util                                         1198
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              3007
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1049
mths_since_recent_bc_dlq                       73545
mths_since_recent_inq                           9818
mths_since_recent_revol_delinq                 63814
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                1956
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1161
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               100000
sec_app_fico_range_low                        100000
sec_app_fico_range_high                       100000
sec_app_earliest_cr_line                      100000
sec_app_inq_last_6mths                        100000
sec_app_mort_acc                              100000
sec_app_open_acc                              100000
sec_app_revol_util                            100000
sec_app_open_act_il                           100000
sec_app_num_rev_accts                         100000
sec_app_chargeoff_within_12_mths              100000
sec_app_collections_12_mths_ex_med            100000
sec_app_mths_since_last_major_derog           100000
hardship_flag                                      0
hardship_type                                  99815
hardship_reason                                99815
hardship_status                                99815
deferral_term                                  99815
hardship_amount                                99815
hardship_start_date                            99815
hardship_end_date                              99815
payment_plan_start_date                        99815
hardship_length                                99815
hardship_dpd                                   99815
hardship_loan_status                           99815
orig_projected_additional_accrued_interest     99848
hardship_payoff_balance_amount                 99815
hardship_last_payment_amount                   99815
disbursement_method                                0
debt_settlement_flag                               0
debt_settlement_flag_date                      98710
settlement_status                              98710
settlement_date                                98710
settlement_amount                              98710
settlement_percentage                          98710
settlement_term                                98710
dtype: int64

In [22]:
lista_borrar = ['member_id', 'desc', 'annual_inc_joint', 'dti_joint', 'open_acc_6m', 'total_cu_tl','revol_bal_joint']
final_loans = new_loans.drop(lista_borrar, axis=1)
final_loans.shape
final_loans

,Unnamed: 0,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,15000,15000,15000,60 months,12.39,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,n,debt_consolidation,Debt consolidation,235xx,VA,12.03,0,Aug-1994,750,754,0,<NA>,<NA>,6,0,138008,29.0,17,w,0.0,0.0,17392.37,17392.37,15000.0,2392.37,0.0,0.0,0.0,Jun-2016,12017.81,<NA>,Nov-2017,684,680,0,<NA>,1,Individual,<NA>,0,0,149140,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,184500,<NA>,<NA>,5,29828,9525,4.7,0,0,103,244,1,1,0,47,<NA>,<NA>,<NA>,0,1,4,1,2,8,5,9,4,6,0,0,0,4,100.0,0.0,0,0,196500,149140,10000,12000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1,36805548,10400,10400,10400,36 months,6.99,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,Dec-2014,Charged Off,n,credit_card,Credit card refinancing,937xx,CA,14.92,0,Sep-1989,710,714,2,42,<NA>,17,0,6133,31.6,36,w,0.0,0.0,6611.69,6611.69,5217.75,872.67,0.0,521.27,93.8286,Aug-2016,321.08,<NA>,Feb-2017,564,560,0,59,1,Individual,<NA>,0,0,162110,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,19400,<NA>,<NA>,7,9536,7599,41.5,0,0,76,290,1,1,1,5,42,1,42,4,6,9,7,18,2,14,32,9,17,0,0,0,4,83.3,14.3,0,0,179407,15030,13000,11325,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2,37842129,21425,21425,21425,60 months,15.59,516.36,D,D1,Programming Analysis Supervisor,6 years,RENT,63800.0,Source Verified,Dec-2014,Fully Paid,n,credit_card,Credit card refinancing,658xx,MO,18.49,0,Aug-2003,685,689,0,60,<NA>,10,0,16374,76.2,35,w,0.0,0.0,25512.2,25512.2,21425.0,4087.2,0.0,0.0,0.0,May-2016,17813.19,<NA>,Dec-2017,704,700,0,74,1,Individual,<NA>,0,0,42315,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,21500,<NA>,<NA>,4,4232,324,97.8,0,0,135,136,7,7,0,7,60,7,60,1,3,4,3,12,16,5,18,4,10,0,0,0,2,91.4,100.0,0,0,57073,42315,15000,35573,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,3,37612354,12800,12800,12800,60 months,17.14,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,Dec-2014,Current,n,car,Car financing,953xx,CA,8.31,1,Oct-2000,665,669,0,17,<NA>,8,0,5753,100.9,13,w,6673.54,6673.54,11207.67,11207.67,6126.46,5081.21,0.0,0.0,0.0,Dec-2017,319.08,Jan-2018,Dec-2017,629,625,0,36,1,Individual,<NA>,0,0,261815,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5700,<NA>,<NA>,2,32727,0,103.2,0,0,16,170,21,16,5,21,17,1,17,1,3,5,3,5,1,5,7,5,8,0,0,0,0,76.9,100.0,0,0,368700,18007,4400,18000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,4,37662224,7650,7650,7650,36 months,13.66,260.2,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,Dec-2014,Charged Off,n,debt_consolidation,Debt consolidation,850xx,AZ,34.81,0,Aug-2002,685,689,1,<NA>,<NA>,11,0,16822,91.9,20,f,0.0,0.0,2281.98,2281.98,704.38,339.61,0.0,1237.99,222.8382,Aug-2015,17.7,<NA>,Oct-2016,559,555,0,<NA>,1,Individual,<NA>,0,0,64426,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,18300,<NA>,<NA>,6,5857,332,93.2,0,0,137,148,8,8,0,17,<NA>,3,<NA>,0,1,4,1,4,12,4,8,4,11,0,0,0,2,100.0,100.0,0,0,82331,64426,4900,64031,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,8400,8400,8400,36 months,9.17,267.79,B,B1,Software Engineer,2 years,MORTGAGE,91000.0,Source Verified,Aug-2014,Fully Paid,n,debt_consolidation,Debt consolidation,606xx,IL,7.78,1,Aug-1990,705,709,1,19,54,6,1,8495,55.5,16,w,0.0,0.0,9640.145407,9640.15,8400.0,1240.15,0.0,0.0,0.0,Aug-2017,267.5,<NA>,Dec-2017,714,710,0,<NA>,1,Individual,<NA>,0,0,152181,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,15300,<NA>,<NA>,2,25364,2505,77.2,0,0,285,287,5,5,1,5,19,5,19,0,2,2,2,6,7,3,7,2,6,0,0,0,2,93.7,50.0,0,0,209557,20872,11000,15473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
99996,99996,11396920,10000,10000,10000,36 months,12.99,336.9,C,C1,Assistant Professor of English,3 years,RENT,53133.0,Not Verified,Aug-2014,Fully Paid,n,debt_consolidation,Debt consolidation,874xx,NM,15.25,0,May-2001,690,694,0,<NA>,<NA>,11,0,10326,42.5,17,f,0.0,0.0,11685.08,11685.08,10000.0,1685.08,0.0,0.0,0.0,Mar-2016,5594.78,<NA>,Dec-2017,684,680,0,<NA>,1,Individual,<NA>,0,98,46413,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,24300,<NA>,<NA>,3,4219,13974,42.5,0,0,77,158,5,5,0,5,<NA>,24,<NA>,0,5,5,9,11,4,9,13,5,11,0,0,0,1,100.0,11.1,0,0,64149,46413,24300,39849,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
99997,99997,8556176,30000,30000,30000,60 months,20.99,811.44,E,E4,Facilities Tech 3,10+ years,RENT,78000.0,Verified,Aug-2014,Current,n,debt_consolidation,Debt consolidation,926xx,CA,23.75,0,Jun-1998,665,669,1,29,<NA>,18,0,27409,79.0,30,w,13599.63,13599.63,32530.43,32530.43,16400.37,16130.06,0.0,0.0,0.0,Dec-2017,811.44,Jan-2018,Dec-2017,624,620,0,<NA>,1,Individual,<NA>,0,0,345934,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,34700,<NA>,<NA>,5,20349,2354,89.4,0,0,155,193,1,1,2,12,29,1,29,0,7,12,7,9,5,15,22,12,18,0,0,0,4,93.3,100.0,0,0,371088,45447,22300,25212,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
99998,99998,24023408,8475,8475,8475,36 months,24.99,336.92,F,F4,Records Examiner Analyst,10+ years,RENT,52000.0,Verified,Aug-2014,Charged Off,n,debt_consolidation,Debt consolidation,630xx,MO,17.61,2,Nov-2000,660,664,1,13,83,11,1,2962,35.7,29,f,0.0,0.0,2695.36,2695.36,1380.97,1314.39,0.0,0.0,0.0,Apr-2015,336.92,<NA>,Dec-2017,609,605,0,17,1,Individual,<NA>,0,2066,31247,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,8300,<NA>,<NA>,8,3125,324,88.0,0,0,141,164,7,1,0,7,17,4,17,2,1,3,1,4,11,8,18,3,11,0,0,1,6,86.4,100.0,1,0,43686,31247,2700,35386,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
99999,99999,24023398,25000,25000,25000,36 months,10.15,808.45,B,B2,Occupational Theapy Assistant,3 years,OWN,60000.0,Source Verified,Aug-2014,Fully Paid,n,debt_consolidation,Debt consolidation,468xx,IN,27.82,0,Jul-1999,730,734,0,<NA>,<NA>,23,0,23719,40.3,35,w,0.0,0.0,29024.061162,29024.06,25000.0,4024.06,0.0,0.0,0.0,Mar-2017,4759.78,<NA>,Dec-2017,754,750,0,<NA>,1,Individual,<NA>,0,0,233053,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,58900,<NA>,<NA>,5,10133,17153,57.4,0,0,104,180,1,1,2,8,<NA>,13,<NA>,0,5,7,5,9,13,10,19,7,23,0,0,0,3,100.0,40.0,0,0,290888,71301,40300,64888,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [ ]:
# mask = (final_loans[columna] == 'Algun valor')
# final_loans.loc[mask] = final_loans.loc[mask].fillna('Poner con que voy a rellenar')

In [ ]:
# Tu codigo aqui

### Codigo para salvar y cargar JSONs